*{
    box-sizing: border-box;
}

body{
    max-width: 614px;
    overflow: scroll;
    font-family: 'Robotos', sans-serif;
}

.topo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo img {
    width: 80px;
    height: 60px;
    margin-left: 15px;
}

.topo ion-icon{
    margin-right: 10px;
    width: 80px;
    height: 60px;
}

.conteudo{
    height: 500px;
    background: #E5E5E5;
    overflow: scroll;
}

.baixo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.baixo ion-icon{
    margin-right: 10px;
    width: 60px;
    height: 40px;
    border: none;
    
}

.baixo input{
    height: 100px;
    width: 83%;
    border: none;
}

.mensagens{
    margin-bottom: 15px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
}

.from {
    font-size: 16px;
    font-weight: bold;
}

.texto {
    margin-left: 15px;
    font-size: 16px;
    width: auto;
    height: auto;
    word-break: break-all;
}

.horario {
    margin-left: 5px;
    font-size: 16px;
    color: gray;
}

.barra-lateral{
    width: 400px;
    height: 500px;
    background-color: yellowgreen;
    z-index: 1;
    margin-left: 50px;
    position: absolute;
    overflow: hidden;
}

.container{
    position: relative;
}

.barra-lateral span{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}

.contatos{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.contatos ion-icon{
    font-size: 30px;
}

.overlay{
    display: none;
}

.private{
    background-color: pink;
}

.todos{
    background-color: white;
}

.status{
    background-color: rgb(192, 192, 192);
}

button{
    border: none;
    background-color: white;
}